* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5;
}

header {
    background: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.upload-area {
    margin: 10px 0;
    border: 2px dashed #444;
    padding: 10px;
    border-radius: 8px;
}

#render-btn {
    background: #28a745;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

main {
    flex: 1; /* Faz o visualizador ocupar o resto da tela */
    padding: 10px;
}

#viewer-frame {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: white;
    border: 1px solid #ddd;
}
